/* 

ids are denoted by '#'
classes are denotedby '.'

*/

body {
	background-color: #fffcde;
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
	color: darkkhaki;
	font-size: 32px;

}

#main {
	max-width: 1000px;
	margin: auto;
	font-family: 'Lora', serif;
}




.container {
	padding: 24px;
}

#profile {
	text-align: center;
	
}

#grad {background-image: linear-gradient(rgb(164, 238, 254), rgb(197, 229, 243));}
  

.cloud{
	border-radius:0%;
	width: 120px;
	height: 160px;
	margin: auto;}

#profile:hover {background-color: gray;}

#profile-pic {
	border-radius: 80%;
	width: 200px;
	height: 200px;
	margin: auto;
}